@{
    ViewData["Title"] = "Create Post";
}
<h1>@ViewData["Title"]</h1>

<script>
    document.getElementById("CreateButton").addEventListener("click", function () {
        alert("Creating post...");
    });
</script>


<form asp-controller="CreatePost" asp-action="CreatePost" method="post">
    @Html.TextBox("postTitle")
    @Html.TextBox("postContent")
    @Html.DropDownList("postType", new SelectList(new List<string>{"Text", "Image", "Video"}))
    <button type="submit">Create</button>
</form>

<p>@ViewData["postTitle"]</p>
<p>@ViewData["postContent"]</p>