@{
    ViewData["Title"] = "View Posts";
}
<h1>@ViewData["Title"]</h1>

<p>posts go here</p>

@model List<Post>

@foreach (Post post in Model)
{
    <div class="post">
        <p>Post number: @post.GetId()</p>
        <h2>@post.GetTitle()</h2>
        <p>@post.GetContent()</p>
        <p>@post.GetDateOfCreation()</p>
        <div class="actions">
            <button onclick="likePost(@post.GetId()">Like (@post.GetLikes()</button>
            <button onclick="showComments(@post.GetId())">Comments (@post.GetComments().Count)</button>
        </div>
    </div>
}