@model DesignPatterns_SocialMedia.Models.Post

@{
    ViewData["Title"] = "View";
}


<h1>View</h1>

<h4>Post</h4>
<hr />


@foreach (String el in @Model.GetComments())
{
    <div class="comment-box">
        <p> @el.ToString() </p>
    </div>
}


<form asp-action="ViewPost" asp-controller="Posts" method="post" >
    <input type="hidden" value="@Model.GetId()" />
    @Html.RadioButton("selectLike", 1, true) <img src="~/Image/Like.png" width="30" height="30">
    @Html.RadioButton("selectLike", 2) <img src="~/Image/Superlike.png" width="30" height="30">
    @Html.RadioButton("selectLike", 3) <img src="~/Image/Dislike.png" width="30" height="30">
    <button type="submit">Submit</button>
</form>

<form asp-action="addComment" asp-controller="Posts" method="post">
    @Html.Hidden("PostId", Model.GetId())
    <div class="comment-box comment-content">
        @Html.TextBox("postComment")
    </div>
    <button type="submit">Post comment</button>
</form>


<div>
    <a asp-action="Posts">Back to Home</a>
</div>
<br />
<br />



